.test {
	transform: translateX(-50%);
	transform: matrix(1, 0, 0, -1, 0, 0);
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-self: stretch;
	align-items: flex-start;
	overflow-x: scroll;
	background-color: rgba(14, 43, 38, 0.388);
	background-color: #9ae455cc;
	box-shadow: inset 0 0 6px rgba(24, 50, 54, 0.8);
	border-bottom-left-radius: 10px;
	box-sizing: border-box;
	color: #5e6c8427;
	justify-content: stretch;
	text-decoration: line-through #0000ffa9;
}
